{% for application_details in application_details %}
    <div class="row">
        <div class="col-xl-12">
            <div class="card mt-1">
                <div class="card-body">
                    <h4 class="header-title mb-3"> TOR Form Details</h4>
                    <form method="post" id="tor_form">
                        {% csrf_token %}
                        <input type="text" class="form-control" value="{{application_details.application_no}}" name="application_no" id="application_no" style="display:none;">
                        <input type="text" class="form-control" value="{{assigned_role_id}}" id="role_id" name="role_id" style="display:none;">
                        <input type="text" class="form-control" value="{{status}}" id="status" name="status" style="display:none;">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Name of the Project</label>
                                    <input type="text" name="project_name" class="form-control" id="project_name" value="{{ application_details.project_name }}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-warning border-0 rounded-0" role="alert">
                            <i class="uil-folder-heart me-1 h4 align-middle"></i> Applicant Details
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Name of the Applicant</label>
                                    <input type="text" name="applicant_name" class="form-control" id="applicant_name" value="{{ application_details.applicant_name }}" disabled>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Address</label>
                                    <input type="text" name="address" class="form-control" id="address" value="{{ application_details.address }}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Contact No</label>
                                    <input type="number" min="1"  name="contact_no" class="form-control" id="contact_no" maxlength="8" value="{{ application_details.contact_no }}" disabled>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Email</label>
                                    <input type="email" name="email" class="form-control" id="email" value="{{ application_details.email }}" disabled>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Name and contact details of Environmental Focal Person if other than the applicant</label>
                                    <textarea class="form-control" id="focal_person" name="focal_person" rows="3" disabled>{{ application_details.focal_person }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="alert alert-warning border-0 rounded-0" role="alert">
                            <i class="uil-folder-heart me-1 h4 align-middle"></i> Project Location and Area
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Site</label>
                                    {% if application_details.dzongkhag_throm == 'Dzongkhag' %}
                                        <div class="mt-2">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" id="customRadio3" name="site" class="form-check-input" checked>
                                                <label class="form-check-label" for="customRadio3">Dzongkhag</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="radio" id="customRadio4" name="site" class="form-check-input"  disabled>
                                                <label class="form-check-label" for="customRadio4">Thromde</label>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="mt-2">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" id="customRadio3" name="site" class="form-check-input" disabled>
                                                <label class="form-check-label" for="customRadio3">Dzongkhag</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="radio" id="customRadio4" name="site" class="form-check-input"  checked>
                                                <label class="form-check-label" for="customRadio4">Thromde</label>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div id="siteErrorMsg" class="alert alert-danger" style="display: none;"></div>
                            </div>
                            {% if application_details.dzongkhag_throm == 'Thromde' %}
                                <div class="col-lg-6 thromde_div">
                                    <div class="mb-3">
                                        <label class="form-label fw-bold">Thromde</label>
                                        <select class="form-select" disabled>
                                            {% for thromde in thromde %}
                                                <option value="{{thromde.thromde_id}}"{% if application_details.thromde_id == thromde.thromde_id %}selected{% endif %}>
                                                    {{ thromde.thromde_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="thromdeErrorMsg" class="alert alert-danger" style="display: none;"></div>
                                </div>
                            {% endif %}
                        </div>
                        {% if application_details.dzongkhag_throm == 'Dzongkhag' %}
                            <div class="row">
                                <div class="col-lg-6 dzongkhag_div">
                                    <div class="mb-3">
                                        <label class="form-label fw-bold">Dzongkhag</label>
                                        <select class="form-select" disabled>
                                            {% for dzongkhag in dzongkhag %}
                                                <option value="{{dzongkhag.dzongkhag_code}}"{% if application_details.dzongkhag_code == dzongkhag.dzongkhag_code %}selected{% endif %}>
                                                    {{ dzongkhag.dzongkhag_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label fw-bold">Gewog</label>
                                        <select class="form-select" disabled>
                                            {% for gewog in gewog %}
                                                <option value="{{gewog.gewog_code}}"{% if application_details.gewog_code == gewog.gewog_code %}selected{% endif %}>
                                                    {{ gewog.gewog_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="gewogErrorMsg" class="alert alert-danger" style="display: none;"></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="mb-3">
                                        <label class="form-label fw-bold">Village/Chiwog</label>
                                        <select class="form-select" disabled>
                                            {% for village in village %}
                                                <option value="{{village.village_code}}"{% if application_details.village_code == village.village_code %}selected{% endif %}>
                                                    {{ village.village_name }}
                                                </option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div id="vil_chiwogErrorMsg" class="alert alert-danger" style="display: none;"></div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="mb-3">
                                    <label class="form-label fw-bold">Name of the Particular Project Site</label>
                                    <<input type="text" name="location_name" class="form-control" id="location_name" value="{{ application_details.location_name }}" disabled>
                                </div>
                                <div id="project_siteErrorMsg" class="alert alert-danger" style="display: none;"></div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-0">Attachments</h5>
                                    <div id="cardCollpase7" class="collapse pt-3 show">
                                        <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">File</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               {% for file_attach in file_attach %}
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td><a href='{{file_attach.file_path}}' target="_blank">{{file_attach.attachment}}</a></td>
                                                        </tr>
                                                        {% empty %}
                                                        <tr>
                                                          <td colspan="3" class="text-center">No Data</td>
                                                        </tr>
                                               {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-lg-6 show_verifier_details" style="display: none;">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Forward To</label>
                                <select class="form-control" name="forward_to"  id="forward_to">
                                    <option value="">--SELECT REVIEWER--</option>
                                    {% for reviewer_list in reviewer_list %}
                                        <option value="{{ reviewer_list.login_id }}">{{ reviewer_list.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="forward_toErrorMsg" class="alert alert-danger" style="display: none;"></div>
                        </div>
                        <div class="col-md-12 verifier_attach_details" style="display: none;">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title mb-0">DRAFT TOR</h5>
                                    <div id="cardCollpase7" class="collapse pt-3 show">
                                        <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                                            <thead>
                                                <tr>
                                                    <th scope="col">#</th>
                                                    <th scope="col">File</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                               {% for tor_attach in tor_attach %}
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td><a href='{{tor_attach.file_path}}' target="_blank">{{tor_attach.attachment}}</a></td>
                                                        </tr>
                                                        {% empty %}
                                                        <tr>
                                                          <td colspan="3" class="text-center">No Data</td>
                                                        </tr>
                                               {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 tor_remarks_div"  style="display: none;">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Remarks</label>
                                <textarea class="form-control" rows="2" readonly>{{application_details.tor_remarks}}</textarea>
                            </div>
                        </div>
                        <div class="col-md-12 reviewer_attach_details" style="display: none;">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-widgets">
                                        <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#rev_tor_attachment_modal"><i class="mdi mdi-plus me-2"></i>Add</button>
                                    </div>
                                    <h5 class="card-title mb-0">DRAFT TOR</h5>
                                    <div id="cardCollpase7" class="collapse pt-3 show">
                                        <div id="tor_rev_attachment">
                                            {% include 'tor_attachment_page.html' %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 show_reviewer_details"  style="display: none;">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Remarks</label>
                                <textarea class="form-control" rows="2" id="tor_remarks" name="tor_remarks"></textarea>
                            </div>
                        </div>
                        <div class="alert alert-success border-0 rounded-0" role="alert" id="tor_form_successMsg" style="display:none">
                            <i class="uil-folder-heart me-1 h4 align-middle"></i>
                        </div>
                        <div class="alert alert-danger border-0 rounded-0" role="alert" id="tor_form_errorMsg" style="display:none">
                            <i class="uil-folder-heart me-1 h4 align-middle"></i>
                        </div>
                        <button id="pageloader" class="btn btn-primary" type="button" disabled="" style="display:none;">
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                        <div class="row mt-4 show_verifier_details" style="display: none;">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success" onclick="forward_tor_form('R')">
                                    <i class="mdi mdi-arrow-right me-1"></i> Forward </button>
                            </div>
                        </div>
                        <div class="row mt-4 show_reviewer_details" style="display: none;">
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success" onclick="forward_tor_form('FT')">
                                    <i class="mdi mdi-arrow-right me-1"></i> Forward </button>
                            </div>
                        </div>
                        <div class="row mt-4 show_AT_reviewer_details" style="display: none;"> 
                            <div class="text-sm-end">
                                <button type="button" class="btn btn-success" onclick="forward_tor_form('AT')">
                                    <i class="mdi mdi-arrow-right me-1"></i> Approve </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<form method="post" id="rev_tor_attachment_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="rev_tor_attachment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
    <!--Content-->
    <div class="modal-content form-elegant">
    <!--Header-->
    <div class="modal-header text-center">
    <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3"><strong>
                                            &nbsp;Attach</strong></h3>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
    </div>
    <!--Body-->
    <div class="modal-body mx-4">
    <div class="row">
        <div class="col-lg-6">
            <div class="mb-3">
                <label class="form-label fw-bold">Attachment</label>
                <input type="file" name="rev_tor_attach" class="form-control" id="rev_tor_attach" accept=".pdf, .doc, .docx">
            </div>
            <div class="alert alert-danger" id="rev_tor_attachErrorMsg" style="display:none"></div>
        </div>
    </div>
    </div>
    <div class="modal-footer flex-center justify-content-center">
    <button type="button" class="btn btn-sm btn-primary" onclick="save_rev_tor_attachment()">Add</button>
    <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
    </div>
    </div>
    <!--/.Content-->
    </div>
    </div>
</form>


<script>
    $(function() {
        let status = $('#status').val();
        let role_id = $('#role_id').val();
        alert(role_id);

        if(status == 'P' && role_id=='2')
        {
            $('.show_verifier_details').show(); 
        }
        else if(status == 'FT' && role_id=='2')
        {
            $('.tor_remarks_div').show();
            $('.show_AT_reviewer_details').show();
            $('.verifier_attach_details').show();
        }
        else 
        {
            $('.show_reviewer_details').show();
            $('.reviewer_attach_details').show();
        }
    });

    function forward_tor_form(identifier)
    {
        let application_no = $('#application_no').val();
        let forward_to = $('#forward_to').val();
        let tor_remarks = $('#tor_remarks').val();
        if(identifier == 'R')
        {
            $.ajax
            ({
                type : "POST",
                url : "{% url 'forward_application' %}",
                data : {'application_no':application_no,'forward_to':forward_to, 'identifier':identifier, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success : function(data)
                {
                    if(data.message == 'success')
                    {
                        $('#tor_form_successMsg').html("Forwarded Successfully");
                        $('#tor_form_successMsg').show();
                        setTimeout(function()
                        {
                            $('#tor_form_successMsg').delay(2000).fadeOut('slow');
                        }, 2000);
                        setTimeout(function() {
                            location.reload()
                        }, 2000);
                    }
                    else
                    {
                        $('#tor_form_errorMsg').html("Please Check And Submit Again");
                        $('#tor_form_errorMsg').show();
                        setTimeout(function()
                        {
                            $('#tor_form_errorMsg').delay(2000).fadeOut('slow');
                        }, 2000);
                    }
                }
            });
        }
        else
        {
            $("#pageloader").show();
            $.ajax
            ({
                type : "POST",
                url : "{% url 'forward_application' %}",
                data : {'application_no':application_no,'tor_remarks':tor_remarks, 'identifier':identifier, csrfmiddlewaretoken: '{{ csrf_token }}'},
                success : function(data)
                {
                    if(data.message == 'success' && identifier == 'AT')
                    {
                        $("#pageloader").hide();
                        $('#tor_form_successMsg').html("TOR Application Approved");
                        $('#tor_form_successMsg').show();
                        setTimeout(function()
                        {
                            $('#tor_form_successMsg').delay(2000).fadeOut('slow');
                        }, 2000);
                        setTimeout(function() {
                            location.reload()
                        }, 2000);
                    }
                    else if(data.message == 'success' && identifier == 'FT')
                    {
                        $("#pageloader").hide();
                        $('#tor_form_successMsg').html("Forwarded Successfully");
                        $('#tor_form_successMsg').show();
                        setTimeout(function()
                        {
                            $('#tor_form_successMsg').delay(2000).fadeOut('slow');
                        }, 2000);
                        setTimeout(function() {
                            location.reload()
                        }, 2000);
                    }
                    else
                    {
                        $("#pageloader").hide();
                        $('#tor_form_errorMsg').html("Please Check And Submit Again");
                        $('#tor_form_errorMsg').show();
                        setTimeout(function()
                        {
                            $('#tor_form_errorMsg').delay(2000).fadeOut('slow');
                        }, 2000);
                    }
                }
            });
        }
        
    }

    function save_rev_tor_attachment()
    {
        let file_length = document.getElementById("rev_tor_attach");
        if(file_length.value.length < 1)
        {
            $('#rev_tor_attachErrorMsg').html("Please Choose A Attachment");
            $('#rev_tor_attachErrorMsg').show();
            $('#rev_tor_attachErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            let application_no = $('#application_no').val();
            var fileName = document.getElementById('rev_tor_attach').files[0].name;
            var fd = new FormData();
            var file = document.getElementById('rev_tor_attach').files[0];
            fd.append('rev_tor_attach', file);
            fd.append('application_no', application_no);
            token_value=$("input[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup
            ({
                beforeSend: function(xhr, settings)
                {
                xhr.setRequestHeader("X-CSRFToken", token_value);
                }
            });
            $.ajax
            ({
                type : "POST",
                url : "{% url 'save_rev_tor_attachment' %}",
                data : fd,
                dataType: 'json',
                contentType: false,
                processData: false,
                success : function(data)
                {
                    if (data.form_is_valid)
                    {
                        let file_url = data.file_url;
                        let application_no = $('#application_no').val();
                        $.ajax
                        ({
                            type : "POST",
                            url : "{% url 'save_rev_tor_attachment_details' %}",
                            data : {'application_no':application_no, 'filename':fileName, 'file_url':file_url},
                            success : function(responseText)
                            {
                                $('#rev_tor_attachment_modal').modal('hide');
                                $('#tor_rev_attachment').html(responseText);
                                $('.modal-backdrop').remove();
                                $('#rev_tor_attachment_form')[0].reset();
                            }
                        });
                    }
                    else
                    {
                        $('#rev_tor_attachErrorMsg').html("File Already Exists With Same Name. Please Upload Another File");
                        $('#rev_tor_attachErrorMsg').show();
                        $('#rev_tor_attachErrorMsg').delay(2000).fadeOut('slow');
                    }
                }
            });
        }
    }
</script>