<table class="table table-hover table-bordered table-centered mb-0">
    <thead>
        <tr>
            <th rowspan="2">Sl.no.</th>
            <th colspan="2">Transmission line Chainage (length in meters)</th>
            <th rowspan="2">Land type</th>
            <th rowspan="2">Terrain Characteristic / Slope / Gradient</th>
            <th rowspan="2">Type of tower</th>
            <th rowspan="2">No. of towers</th>
            <th rowspan="2">Right of way (RoW)</th>
            <th rowspan="2">Area Required(length x RoW)</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tbody>
        {% for anc_power_line_details in anc_power_line_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{anc_power_line_details.line_chainage_from}}</td>
                <td>{{anc_power_line_details.line_chainage_to}}</td>
                <td>{{anc_power_line_details.land_type}}</td>
                <td>{{anc_power_line_details.terrain}}</td>
                <td>{{anc_power_line_details.tower_type}}</td>
                <td>{{anc_power_line_details.no_of_tower}}</td>
                <td>{{anc_power_line_details.row}}</td>
                <td>{{anc_power_line_details.area_required}}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="Edit" onclick="populate_power_line_details('{{anc_power_line_details.record_id}}','{{anc_power_line_details.application_no}}','{{anc_power_line_details.line_chainage_from}}','{{anc_power_line_details.line_chainage_to}}','{{anc_power_line_details.land_type}}','{{anc_power_line_details.terrain}}','{{anc_power_line_details.tower_type}}','{{anc_power_line_details.no_of_tower}}','{{anc_power_line_details.row}}','{{anc_power_line_details.area_required}}')"><i class="mdi mdi-square-edit-outline"></i></a>
                        <button  type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="Delete" onclick="populate_delete_power_line('{{anc_power_line_details.record_id}}','{{anc_power_line_details.application_no}}')"><i class="uil-trash"></i></button>
                    </div>
                </td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="10" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
