<table class="table table-hover table-bordered table-centered mb-0">
    <thead>
        <tr>
            <th rowspan="2">Sl.no.</th>
            <th colspan="2">Road Chainage (m)</th>
            <th rowspan="2">Land type</th>
            <th rowspan="2">Terrain Characteristic / Slope / Gradient</th>
            <th rowspan="2">Road Width (m)</th>
            <th rowspan="2">Right of way (RoW)</th>
            <th rowspan="2">Area Required(length x RoW)</th>
            <th rowspan="2"></th>
        </tr>
        <tr>
            <th>From</th>
            <th>To</th>
        </tr>
    </thead>
    <tbody>
        {% for anc_road_details in anc_road_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{anc_road_details.road_chainage_from}}</td>
                <td>{{anc_road_details.road_chainage_to}}</td>
                <td>{{anc_road_details.land_type}}</td>
                <td>{{anc_road_details.terrain}}</td>
                <td>{{anc_road_details.road_width}}</td>
                <td>{{anc_road_details.row}}</td>
                <td>{{anc_road_details.area_required}}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <a class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="Edit" onclick="populate_approach_road_details('{{anc_road_details.record_id}}','{{anc_road_details.application_no}}','{{anc_road_details.road_chainage_from}}','{{anc_road_details.road_chainage_to}}','{{anc_road_details.land_type}}','{{anc_road_details.terrain}}','{{anc_road_details.road_width}}','{{anc_road_details.row}}','{{anc_road_details.area_required}}')"><i class="mdi mdi-square-edit-outline"></i></a>
                        <button  type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="Delete" onclick="populate_delete_approach_road('{{anc_road_details.record_id}}','{{anc_road_details.application_no}}')"><i class="uil-trash"></i></button>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
              <td colspan="9" class="text-center">No Data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
