<table class="table table-hover table-bordered table-centered mb-0">
    <thead>
        <tr>
            <th>Sl.no.</th>
            <th>Machine/Tool/Equipment</th>
            <th>Qty</th>
            <th>Installed Capacity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for machine_equipment in machine_equipment %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{machine_equipment.machine_name}}</td>
                <td>{{machine_equipment.qty}}</td>
                <td>{{machine_equipment.installed_capacity}}</td>
                <td>
                    <div class="btn-group btn-group-sm">
                        <button  type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="Edit" onclick="machine_equipment_populate('{{machine_equipment.record_id}}','{{machine_equipment.application_no}}','{{machine_equipment.machine_name}}','{{machine_equipment.qty}}','{{machine_equipment.installed_capacity}}')"><i class="mdi mdi-square-edit-outline"></i></button>
                        <button  type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="Delete" onclick="populate_delete_machine_equipment('{{machine_equipment.record_id}}','{{machine_equipment.application_no}}')"><i class="uil-trash"></i></button>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
              <td colspan="6" class="text-center">No Data Available</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
