<table id="basic-datatable" class="table dt-responsive nowrap w-100">
    <thead>
        <tr>
            <th>#</th>
            <th>Terms and Condition of the EC</th>
            <th>Action/activities undertaken/implemented to achieve compliance including evidence, wherever applicable</th>
            <th>Remarks</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for ec_details in ec_details %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ec_details.ec_heading}} - {{ec_details.ec_terms}}</td>
                <td><textarea class="form-control" rows="2" name="action_undertaken" disabled>{{ ec_details.action_undertaken}}</textarea></td>
                <td><textarea class="form-control" rows="2" name="remarks" disabled>{{ ec_details.remarks}}</textarea></td>
                <td><a href="#" onclick="show_ec_details_modal('{{ ec_details.record_id}}','{{ec_details.ec_heading}} - {{ec_details.ec_terms}}')" class="btn btn-primary ms-2">
                        <i class="mdi mdi-autorenew"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>