<table class="table table-hover table-bordered table-centered mb-0">
    <thead>
        <tr>
            <th>Sl.no.</th>
            <th>Product (Name)</th>
            <th>Installed capacity/quantity per annum</th>
            <th>Method of storage</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for final_product in final_product %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{final_product.product_name}}</td>
                {% if final_product.quantity_annum is none %}
                    <td>
                        {{final_product.name_location_type}}
                    </td>
                {% else %}
                    <td>
                        {{final_product.quantity_annum }}
                    </td>
                {% endif %}
                {% if final_product.storage_method == 'fully_enclosed' %}
                    <td>Fully Enclosed</td>
                {% elif final_product.storage_method == 'partially_enclosed' %}
                    <td>Partially Enclosed</td>
                {% else %}
                    <td>Open</td>
                {% endif %}
                <td>
                    <div class="btn-group btn-group-sm">
                        {% if final_product.quantity_annum is none %}
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="Edit" onclick="edit_produce_populate('{{final_product.record_id}}','{{final_product.application_no}}','{{final_product.product_name}}','{{final_product.name_location_type}}','{{final_product.storage_method}}')"><i class="mdi mdi-square-edit-outline"></i></button>
                        {% else %}
                            <button type="button" class="btn btn-outline-primary btn-sm" data-toggle="tooltip" title="Edit" onclick="edit_produce_populate('{{final_product.record_id}}','{{final_product.application_no}}','{{final_product.product_name}}','{{final_product.quantity_annum}}','{{final_product.storage_method}}')"><i class="mdi mdi-square-edit-outline"></i></button>
                        {% endif %}
                        <button  type="button" class="btn btn-outline-danger btn-sm" data-toggle="tooltip" title="Delete" onclick="populate_delete_produce('{{final_product.record_id}}','{{final_product.application_no}}')"><i class="uil-trash"></i></button>
                    </div>
                </td>
            </tr>
        {% empty %}
            <tr>
              <td colspan="5" class="text-center">No Data Available</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
