{% extends 'common_dashboard.html' %}
{% block content %}
<div id="application_details">
    <div class="card mt-1">
        <div class="card-body">
            <h5 class="card-title mb-0 text-right">Name Change</h5>
            <div class="alert alert-success" id="manage_about_us_success_msg" role="alert" style="display:none;">
                <i class="ri-check-line me-2"></i>
            </div>
            <div id="cardCollpase1" class="collapse pt-3 show">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <form id="ec_renewal_form" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter EC Number" name="ec_no" id="ec_no">
                                    <span class="input-group-btn input-group-append">
                                        <button class="btn btn-primary" type="button" onclick="getECDetails()">
                                            <i class="uil uil-arrow-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="ec_renewal_details" style="display:none;">

</div>
<script>
    function getECDetails()
    {
        $.ajax({
            type : "GET",
            url : "{% url 'ec_renewal' %}",
            data :$('#ec_renewal_form').serialize(),
            success : function(data)
            {
                $('#ec_renewal_details').html(data);
                $('#ec_renewal_details').show();
            }
        });
    }
</script>
{% endblock %}