{% extends 'common_dashboard.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

    <div class="row">
        <div class="col-xl-12">
            <div class="card mt-1">
                <div class="card-body">
                    <h5 class="card-title mb-0">New Application - Please click on the activity to submit the form</h5>

                    <div id="cardCollpase1" class="collapse pt-3 show">
                        <table id="basic-datatable" class="table dt-responsive table-sm table-centered mb-0">
                            <thead>
                                <th>#</th>
                                <th>Activity</th>
                            </thead>
                            <tbody>
                                {% for bsic_code_list in bsic_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td><a href="javascript:void(0);" 
                                            class="btn btn-outline-primary btn-sm" 
                                            onclick="viewApplicationDetails('{{bsic_code_list.activity}}')">
                                            {{bsic_code_list.activity}}
                                        </a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!-- end card-->
        </div>
    </div>
    <script>
    function viewApplicationDetails(activity)
    {
        $.ajax({
            type : "GET",
            url : "{% url 'get_application_service_id' %}",
            data : {'activity':activity},
            success : function(data)
            {
                colour_code = data.colour_code;
                has_tor = data.has_tor;
                
                if(colour_code == 'Green')
                {
                    $('#successMsg').html("No need For Environment Clearance.");
                    $('#successMsg').show();
                    $('#successMsg').delay(2000).fadeOut('slow');
                }
                else
                {
                    if(has_tor == 'No' && colour_code =='Blue')
                    {
                        window.location.href = '/application_form';
                    }
                    else
                    {
                        window.location.href = '/tor_form';
                    }
                }
            }
        });
    }
    </script>
{% endblock %}
