{% extends 'common_dashboard.html' %}
{% block content %}
<div id="other_modification_details">
    <div class="card mt-1">
        <div class="card-body">
            {% if identifier == 'NC' %}
                <h5 class="card-title mb-0 text-right">Name Change</h5>
            {% elif identifier == 'OC' %}
                <h5 class="card-title mb-0 text-right">Ownership Change</h5>
            {% elif identifier == 'TC' %}
                <h5 class="card-title mb-0 text-right">Technology Change</h5>
            {% elif identifier == 'PC' %}
                <h5 class="card-title mb-0 text-right">Product Change</h5>
            {% elif identifier == 'CC' %}
                <h5 class="card-title mb-0 text-right">Capacity Change</h5>
            {% elif identifier == 'AC' %}
                <h5 class="card-title mb-0 text-right">Area Change</h5>
            {% else %}
                <h5 class="card-title mb-0 text-right">Location Change</h5>
            {% endif %}
            <div id="cardCollpase1" class="collapse pt-3 show">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <form id="other_modification_form" method="post">
                                <input type="hidden" id="identifier" value="{{identifier}}">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Enter EC Number" name="ec_no" id="ec_no">
                                    <span class="input-group-btn input-group-append">
                                        <button class="btn btn-primary" type="button" onclick="getECDetails()">
                                            <i class="uil uil-arrow-right"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function other_modification_form()
    {
        $.ajax({
            type : "GET",
            url : "{% url 'get_other_modification_details' %}",
            data :$('#other_modification_form').serialize(),
            success : function(data)
            {
                $('#other_modification_details').html(data);
                $('#other_modification_details').show();
            }
        });
    }
</script>
{% endblock %}       

                    