{% extends 'common_dashboard.html' %}
{% block content %}
<div id="other_modification_details">
    <div class="card mt-1">
        <div class="card-body">
            {% if identifier == 'NC' %}
                <h5 class="card-title mb-0 text-right">Name Change</h5>
            {% elif identifier == 'OC' %}
                <h5 class="card-title mb-0 text-right">Ownership Change</h5>
            {% elif identifier == 'TC' %}
                <h5 class="card-title mb-0 text-right">Technology Change</h5>
            {% elif identifier == 'PC' %}
                <h5 class="card-title mb-0 text-right">Product Change</h5>
            {% elif identifier == 'CC' %}
                <h5 class="card-title mb-0 text-right">Capacity Change</h5>
            {% elif identifier == 'AC' %}
                <h5 class="card-title mb-0 text-right">Area Change</h5>
            {% else %}
                <h5 class="card-title mb-0 text-right">Location Change</h5>
            {% endif %}
            <div id="cardCollpase1" class="collapse pt-3 show">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <form id="other_modification_form" method="post">
                                <input type="hidden" name="identifier" id="identifier" value="{{identifier}}">
                                <label class="form-label fw-bold">EC Reference No</label>
                                <select id="ec_reference_no" name="ec_reference_no" class="form-control">
                                    <option value="">--SELECT-</option>
                                    {% for application_details in application_details %}
                                        <option value="{{ application_details.ec_reference_no }}">{{ application_details.ec_reference_no }}</option>
                                    {% endfor %}
                                </select>
                                <button class="btn btn-primary mt-1" type="button" onclick="getECDetails()">
                                    Submit <i class="uil uil-arrow-right"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function getECDetails()
    {
        $.ajax({
            type : "GET",
            url : "{% url 'get_other_modification_details' %}",
            data :$('#other_modification_form').serialize(),
            success : function(data)
            {
                $('#other_modification_details').html(data);
                $('#other_modification_details').show();
            }
        });
    }
</script>
{% endblock %}       

                    