{% extends 'common_dashboard.html' %}
{% block content %}

<div id="ec_renewal_details">
    <div class="card mt-1">
        <div class="card-body">
            <h5 class="card-title mb-0 text-right">EC Renewal</h5>
            <div class="alert alert-success" id="manage_about_us_success_msg" role="alert" style="display:none;">
                <i class="ri-check-line me-2"></i>
            </div>
            <div id="cardCollpase1" class="collapse pt-3 show">
                <table id="basic-datatable" class="table dt-responsive table-sm table-centered mb-0">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">EC Reference No</th>
                            <th scope="col">Project Name</th>
                            <th scope="col">Activity</th>
                            <th scope="col">Validity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application_details in application_details %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>
                                            <a href="javascript:void(0);"
                                               class="btn btn-outline-primary btn-sm"
                                               onclick="getECDetails('{{application_details.ec_reference_no}}')">
                                               {{application_details.ec_reference_no}}
                                            </a>
                                        </td>
                                        <td>{{application_details.project_name}}</td>
                                        <td>{{application_details.activity}}</td>
                                        <td>{{application_details.ec_expiry_date}}</td>
                                        <!--{% for service_details in service_details %}
                                            {% if application_details.service_id == service_details.service_id %}
                                                <td>{{service_details.service_name}}</td>
                                            {% endif %}
                                        {% endfor %}
                                        -->
                                    </tr>
                            {% empty %}
                            <tr>
                                <td colspan="5" class="text-center">No Data</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    function getECDetails(ec_reference_no)
    {
        $.ajax({
            type : "GET",
            url : "{% url 'ec_renewal_details' %}",
            data :{'ec_reference_no':ec_reference_no},
            success : function(data)
            {
                $('#ec_renewal_details').html(data);
                $('#ec_renewal_details').show();
            }
        });
    }

    // Initialize DataTable
    $(document).ready(function() {
        $('#basic-datatable').DataTable({
            "pageLength": 25,
            "order": [],
            "language": {
                "emptyTable": "No applications available",
                "search": "Search:"
            }
        });
    });
</script>
{% endblock %}       

                    