{% extends 'common_dashboard.html' %}
{% block content %}
<div class="card mt-1">
    <div class="card-body">
        <h5 class="card-title mb-0 text-right">EC Renewal Details</h5>
        <div class="alert alert-success" id="manage_about_us_success_msg" role="alert" style="display:none;">
            <i class="ri-check-line me-2"></i>
        </div>
        <div id="cardCollpase1" class="collapse pt-3 show">
           <form id="renewal_form">
            <input type="text" class="form-control" value="{{application_no}}" name="application_no" style="display:none;">
                {% for application_details in application_details %} 
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Name of Project</label>
                                <input type="text" name="project_name" class="form-control" id="project_name" value="{{ application_details.project_name }}" disabled>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="alert alert-warning border-0 rounded-0" role="alert">
                        <i class="uil-folder-heart me-1 h4 align-middle"></i> Applicant Details
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Applicant Name</label>
                                <input type="text" name="applicant_name" class="form-control" id="applicant_name" value="{{ application_details.applicant_name }}" disabled>
                            </div>
                            <div id="applicant_nameErrorMsg" class="alert alert-danger" style="display: none;"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Address</label>
                                <input type="text" name="address" class="form-control" id="address" value="{{ application_details.address }}" disabled>
                            </div>
                            <div id="addressErrorMsg" class="alert alert-danger" style="display: none;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Contact No</label>
                                <input type="number" min="1"  name="contact_no" class="form-control" id="contact_no" maxlength="8" value="{{ application_details.contact_no }}" disabled>
                            </div>
                            <div id="contact_noErrorMsg" class="alert alert-danger" style="display: none;"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Email</label>
                                <input type="email" name="email" class="form-control" id="email" value="{{ application_details.email }}" disabled>
                            </div>
                            <div id="emailErrorMsg" class="alert alert-danger" style="display: none;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Name and contact details of Environmental Focal Person if other than the applicant</label>
                                <textarea class="form-control" id="focal_person" name="focal_person" rows="3" disabled>{{ application_details.focal_person }}</textarea>
                            </div>
                        </div>
                        <div id="focal_personErrorMsg" class="alert alert-danger" style="display: none;"></div>
                    </div>
                    <div class="alert alert-warning border-0 rounded-0" role="alert">
                        <i class="uil-folder-heart me-1 h4 align-middle"></i> Project Location and Area
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Dzongkhag/Thromde</label>
                                <select class="form-select" name="dzo_throm"  id="dzo_throm" disabled>
                                    {% for dzongkhag in dzongkhag %}
                                        <option value="{{dzongkhag.dzongkhag_code}}"{% if application_details.dzongkhag_code == dzongkhag.dzongkhag_code %}selected{% endif %}>
                                            {{ dzongkhag.dzongkhag_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Gewog</label>
                                <select class="form-select" name="gewog" id="gewog" disabled>
                                    {% for gewog in gewog %}
                                        <option value="{{gewog.gewog_code}}"{% if application_details.gewog_code == gewog.gewog_code %}selected{% endif %}>
                                            {{ gewog.gewog_name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Village/Chiwog</label>
                                <select class="form-select" name="vil_chiwog" id="vil_chiwog" disabled>
                                    {% for village in village %}
                                    <option value="{{village.village_code}}"{% if application_details.village_code == village.village_code %}selected{% endif %}>
                                        {{ village.village_name }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Name of Particular Project Site</label>
                                <input type="text" name="location_name" class="form-control" id="location_name" value="{{ application_details.location_name }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-warning border-0 rounded-0" role="alert">
                        <i class="uil-folder-heart me-1 h4 align-middle"></i> EC Details
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">EC Reference No</label>
                                <input type="text" name="ec_reference_no" class="form-control" id="ec_reference_no" value="{{ application_details.ec_reference_no }}" disabled>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">EC Issue Date</label>
                                <input type="text" name="ec_approve_date" class="form-control" id="ec_approve_date" value="{{ application_details.ec_approve_date }}" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">EC Expiry Date</label>
                                <input type="text" name="ec_expiry_date" class="form-control" id="ec_expiry_date" value="{{ application_details.ec_expiry_date }}" disabled>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="alert alert-warning border-0 rounded-0" role="alert">
                    <i class="uil-folder-heart me-1 h4 align-middle"></i> Description of the compliance to EC terms and conditions
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title mb-0"></h5>
                                <div id="cardCollpase7" class="collapse pt-3 show">
                                    <div id="renewal_file_attachment">
                                        {% include 'ec_details.html' %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Any other initiatives undertaken other than stipulated in the EC </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="mb-3">
                            <label class="form-label fw-bold">Remarks </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-widgets">
                                <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#renewal_attachment_modal"><i class="mdi mdi-plus me-2"></i>Add</button>
                            </div>
                            <h5 class="card-title mb-0">Attachments</h5>
                            <div id="cardCollpase7" class="collapse pt-3 show">
                                <div id="renewal_file_attachment">
                                    {% include 'file_attachment_page.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert alert-success border-0 rounded-0" role="alert" id="application_form_successMsg" style="display:none">
                    <i class="uil-folder-heart me-1 h4 align-middle"></i>
                </div>
                <div class="alert alert-danger border-0 rounded-0" role="alert" id="application_form_errorMsg" style="display:none">
                    <i class="uil-folder-heart me-1 h4 align-middle"></i>
                </div>
                <div class="row mt-4">
                    <div class="text-sm-end">
                        <a href="#" class="btn btn-success" onclick="submit_renew_application()">
                            <i class="mdi mdi-arrow-right me-1"></i> Submit </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<form method="post" id="renewal_attachment_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="renewal_attachment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
          <!--Header-->
          <div class="modal-header text-center">
            <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3"><strong>
                                                    &nbsp;Add Attachment</strong></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
          </div>
          <!--Body-->
          <div class="modal-body mx-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Attachment</label>
                        <input type="file" name="renewal_attach" class="form-control" id="renewal_attach" accept=".png,.jpg,.jpeg,.pdf,.doc">
                    </div>
                    <div class="alert alert-danger" id="renewal_attachErrorMsg" style="display:none"></div>
                </div>
            </div>
          </div>
          <div class="modal-footer flex-center justify-content-center">
            <button type="button" class="btn btn-sm btn-primary" onclick="save_renewal_attachment()">Add</button>
            <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
</form>


<form method="post" id="compliance_form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="modal fade" id="compliance_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <!--Content-->
        <div class="modal-content form-elegant">
          <!--Header-->
          <div class="modal-header text-center">
            <h3 class="modal-title w-100 dark-grey-text font-weight-bold my-3"><strong>
                                                    &nbsp;Add Description of the compliance to EC terms and conditions</strong></h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
          </div>
          <!--Body-->
          <div class="modal-body mx-4">
            <div class="row">
                <input type="hidden" name="ec_terms_id" class="form-control" id="ec_terms_id" disabled>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label fw-bold">EC Terms</label>
                        <textarea class="form-control" id="ec_terms" name="ec_terms" rows="2" disabled></textarea>
                    </div>
                    <div class="alert alert-danger" id="ec_termsErrorMsg" style="display:none"></div>
                </div>
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Action/activities undertaken/implemented to achieve compliance including evidence, wherever applicable</label>
                        <textarea class="form-control" id="action_undertaken" name="action_undertaken" rows="2"></textarea>
                    </div>
                    <div class="alert alert-danger" id="ec_termsErrorMsg" style="display:none"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Remarks</label>
                        <textarea class="form-control" id="remarks" name="remarks" rows="2"></textarea>
                    </div>
                    </div>
                    <div class="alert alert-danger" id="remarksErrorMsg" style="display:none"></div>
                </div>
            </div>
          </div>
          <div class="modal-footer flex-center justify-content-center">
            <button type="button" class="btn btn-sm btn-primary" onclick="save_compliance_details()">Save</button>
            <button type="button" class="btn btn-sm btn-danger" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
        <!--/.Content-->
      </div>
    </div>
</form>

<script>
    function submit_renew_application()
    {
        $.ajax
        ({
            type : "POST",
            url : "{% url 'submit_renew_application' %}",
            data : $('#iee_application_form').serialize(),
            success : function(data)
            {
                if(data.message == 'success')
                {
                    $('#application_form_successMsg').html("Saved Successfully");
                    $('#application_form_successMsg').show();
                    setTimeout(function()
                    {
                        $('#application_form_successMsg').delay(2000).fadeOut('slow');
                    }, 2000);
                    setTimeout(function() {
                        location.reload();
                    }, 2000);
                }
                else
                {
                    $('#application_form_errorMsg').html("Please Check And Submit Again");
                    $('#application_form_errorMsg').show();
                    setTimeout(function()
                    {
                        $('#application_form_errorMsg').delay(2000).fadeOut('slow');
                    }, 2000);
                }
            }
        });
    }

    function save_renew_attachment()
    {
        let file_length = document.getElementById("renew_attach");
        if(file_length.value.length < 1)
        {
            $('#renew_attachErrorMsg').html("Please Choose A Attachment");
            $('#renew_attachErrorMsg').show();
            $('#renew_attachErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            var fileName = document.getElementById('renew_attach').files[0].name;
            var fd = new FormData();
            var file = document.getElementById('renew_attach').files[0];
            fd.append('renew_attach', file);
            token_value=$("input[name=csrfmiddlewaretoken]").val();
            $.ajaxSetup
            ({
                beforeSend: function(xhr, settings)
                {
                xhr.setRequestHeader("X-CSRFToken", token_value);
                }
            });
            $.ajax
            ({
                type : "POST",
                url : "{% url 'save_renew_attachment' %}",
                data : fd,
                dataType: 'json',
                contentType: false,
                processData: false,
                success : function(data)
                {
                    if (data.form_is_valid)
                    {
                        let file_url = data.file_url;
                        let application_no = $('#application_no').val();
                        $.ajax
                        ({
                            type : "POST",
                            url : "{% url 'save_renew_attachment_details' %}",
                            data : {'application_no':application_no, 'filename':fileName, 'file_url':file_url},
                            success : function(responseText)
                            {
                                $('#renew_attachment_modal').modal('hide');
                                $('#renew_file_attachment').html(responseText);
                                $('.modal-backdrop').remove();
                                $('#renew_attachment_form')[0].reset();
                            }
                        });
                    }
                    else
                    {
                        $('#renew_attachErrorMsg').html("File Already Exists With Same Name. Please Upload Another File");
                        $('#renew_attachErrorMsg').show();
                        $('#renew_attachErrorMsg').delay(2000).fadeOut('slow');
                    }
                }
            });
        }
    }

    function show_ec_details_modal(record_id, terms)
    {
        $('#ec_terms_id').val(record_id);
        $('#ec_terms').val(terms);
        $('#compliance_modal').modal('show');
    }

    function save_compliance_details()
    {
        $.ajax
        ({
            type : "POST",
            url : "{% url 'save_compliance_details' %}",
            data : $('#compliance_form').serialize(),
            success : function(data)
            {
                if(data.message == 'success')
                {
                    $('#compliance_form_successMsg').html("Saved Successfully");
                    $('#compliance_form_successMsg').show();
                    $('#compliance_form_successMsg').delay(2000).fadeOut('slow');
                    setTimeout(function() {
                        $('#compliance_modal').modal('hide');
                    }, 2000);
                    setTimeout(function()
                    {
                        location.reload();
                    }, 2000);
                }
                else
                {
                    $('#compliance_form_errorMsg').html("Please Check And Submit Again");
                    $('#compliance_form_errorMsg').show();
                    setTimeout(function()
                    {
                        $('#compliance_form_errorMsg').delay(2000).fadeOut('slow');
                    }, 2000);
                }
            }
        });
    }
</script>
{% endblock %}       

                    