{% extends 'index.html' %}
{% block content %}
<style>
    p {
    margin-top: 0;
    margin-bottom: 0.5rem;
}
</style>
<div class="row">
    <div class="col-md-12">
        <p class="alert alert-success border-0 rounded-0 text-center col-md-4 offset-md-4" role="alert">
            <i class="uil-folder-heart me-1 h5 align-middle"></i>OFFICE LOCATION ADDRESS
        </p>
        <div class="row">
            <div class="card col-md-4">
                <div class="card-body">
                    <div class="card  shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                </div>
                                <div class="col ps-0">
                                    <strong><i class="uil uil-location"></i></strong>
                                </div>
                                <div class="col-auto">
                                    <p>National Environment Commission</p>
                                    <p>Tashi Chhoe Dzong Area</p>
                                    <p>Post Box 466</p>
                                    <p>Thimphu, Bhutan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                </div>
                                <div class="col ps-0">
                                    <strong><i class="uil uil-phone"></i></strong>
                                </div>
                                <div class="col-auto">
                                    +975 - 2 - 323384/324323/326993
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                </div>
                                <div class="col ps-0">
                                    <strong><i class="uil uil-envelope-add mdi-36px"></i></strong>
                                </div>
                                <div class="col-auto">
                                    tlhamo@nec.gov.bt
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-md-4">
                <div class="card-body">
                    <div class="card my-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                </div>
                                <div class="col ps-0">
                                    <strong><i class="uil uil-location"></i></strong>
                                </div>
                                <div class="col-auto">
                                    <p>Office of the Director</p>
                                    <p>Office of the Chief, Environment</p>
                                    <p>Assessment and Compliance Division</p>
                                    <p>NECS</p>
                                    <p>Lanjophakha, Near Forest Check post</p>
                                    <p>Tri Junction</p>
                                    <p>Thimphu, Bhutan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                </div>
                                <div class="col ps-0">
                                    <strong><i class="uil uil-phone"></i></strong>
                                </div>
                                <div class="col-auto">
                                    +975 - 2 - 331160
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                </div>
                                <div class="col ps-0">
                                    <strong><i class="uil uil-envelope-add mdi-36px"></i></strong>
                                </div>
                                <div class="col-auto">
                                    kuchu@nec.gov.bt
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card col-md-4">
                <div class="card-body">
                    <div class="card my-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                </div>
                                <div class="col ps-0">
                                    <strong><i class="uil uil-location"></i></strong>
                                </div>
                                <div class="col-auto">
                                    <p>Waste Management Division</p>
                                    <p>Waste Flagship Program Management Unit</p>
                                    <p>Top floor of San Maru</p>
                                    <p>Norzin Lam</p>
                                    <p>Thimphu, Bhutan</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                </div>
                                <div class="col ps-0">
                                    <strong><i class="uil uil-phone"></i></strong>
                                </div>
                                <div class="col-auto">
                                    +975 - 2 - 332404
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card my-1 shadow-none border">
                        <div class="p-2">
                            <div class="row align-items-center">
                                <div class="col-auto">
                                </div>
                                <div class="col ps-0">
                                    <strong><i class="uil uil-envelope-add mdi-36px"></i></strong>
                                </div>
                                <div class="col-auto">
                                    dojiongchu7890@gmail.com
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}