{% extends 'common_dashboard.html' %}
{% block content %}
{% load static %}
<div class="row">
    <div class="col-md-12">
        <div class="card mt-2">
            <div class="card-body">
                <h5 class="card-title mb-0">Edit Activity-Service Code</h5>
                <div id="cardCollpase1" class="collapse pt-3 show">
                    <form method="post" id="edit_bsic_code_form">
                    {% csrf_token %}
                    {% for bsic_code_details in bsic_code_details %}
                    <div class="row">
                        <div class="col-3">
                            <label class="form-label">Activity</label>
                        </div>
                        <div class="col-sm-9">
                            <textarea name="activity" class="form-control" id="activity">{{bsic_code_details.activity}}</textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3"> 
                            <label class="form-label">Colour Code</label>
                        </div>
                        <div class="col-sm-9">
                            <select type="text" name="colour_code" class="form-control" id="colour_code">
                                {% if bsic_code_details.colour_code == "Red" %}
                                    <option value="Red" selected>Red</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Green">Green</option>
                                {% elif bsic_code_details.colour_code == "Blue" %}
                                    <option value="Red">Red</option>
                                    <option value="Blue" selected>Blue</option>
                                    <option value="Green">Green</option>
                                {% else %}
                                    <option value="Red">Red</option>
                                    <option value="Blue">Blue</option>
                                    <option value="Green" selected>Green</option>
                                {% endif %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-label">Competent Authority</label>
                        </div>
                        <div class="col-sm-9">
                            <select type="text" name="competent_authority" class="form-control" id="competent_authority">
                                <option value="">--SELECT--</option>
                                {% for competant_authority in competant_authority %}
                                <option value="{{competant_authority.competent_authority}}"{% if bsic_code_details.competent_authority == competant_authority.competent_authority %}selected{% endif %}>
                                    {{ competant_authority.competent_authority }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-label">Service</label>
                        </div>
                        <div class="col-sm-9">
                            <select id="service_id" name="service_id" class="form-select">
                                <option value="">--SERVICE--</option>
                                {% for service_list in service_list %}
                                    <option value="{{ service_list.service_id }}" {% if bsic_code_details.service_id == service_list.service_id %}selected{% endif %} >{{ service_list.service_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <label class="form-label">Has TOR</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="mb-3">
                                {% if bsic_code_details.has_tor == "Yes" %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="has_tor" value="Yes" checked>
                                        <label class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="has_tor" value="No">
                                        <label class="form-check-label">No</label>
                                    </div>
                                {% else %}
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="has_tor" value="Yes">
                                        <label class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="has_tor" value="No" checked>
                                        <label class="form-check-label">No</label>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="alert alert-danger" id="has_torErrorMsg" style="display:none"></div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" id="bsic_id" value="{{bsic_code_details.bsic_id}}">
                    <div id="edit_activityErrorMsg" class="alert alert-danger" style="display: none;"></div>
                    <div id="edit_colour_codeErrorMsg" class="alert alert-danger" style="display: none;"></div>
                    <div id="edit_competent_authorityErrorMsg" class="alert alert-danger" style="display: none;"></div>
                    <div id="edit_service_idErrorMsg" class="alert alert-danger" style="display: none;"></div>
                    {% endfor %}
                    </form>
                    <div class="alert alert-success" id="edit_successMsg" style="display:none"></div>
                    <div class="float-end mt-1">
                        <button type="button" class="btn btn-md btn-primary" onclick="update_bsic_code_details()">Update Activity</button>
                        <a href="{% url 'bsic_master' %}" class="btn btn-md btn-danger"> Cancel </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function update_bsic_code_details()
    {
        var bsic_id = $('#bsic_id').val();
        var activity = $('#activity').val();
        var colour_code = $('#colour_code').val();
        var competent_authority = $('#competent_authority').val();
        var service_id = $('#service_id').val();
        var has_tor = $('input[name="has_tor"]:checked').val();


        if(activity == "")
        {
            $('#edit_activityErrorMsg').html("Enter Activity.");
            $('#edit_activityErrorMsg').show();
            $('#edit_activityErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(colour_code == "")
        {
            $('#edit_colour_codeErrorMsg').html("Enter Colour Code.");
            $('#edit_colour_codeErrorMsg').show();
            $('#edit_colour_codeErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(competent_authority == "")
        {
            $('#edit_competent_authorityErrorMsg').html("Enter Competent Authority.");
            $('#edit_competent_authorityErrorMsg').show();
            $('#edit_competent_authorityErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(service_id == "")
        {
            $('#edit_service_idErrorMsg').html("Enter Service.");
            $('#edit_service_idErrorMsg').show();
            $('#edit_service_idErrorMsg').delay(2000).fadeOut('slow');
        }
        else if(has_tor == "")
        {
            $('#has_torErrorMsg').html("Select One");
            $('#has_torErrorMsg').show();
            $('#has_torErrorMsg').delay(2000).fadeOut('slow');
        }
        else
        {
            $.ajax({
                type : "post",
                url : "{% url 'edit_bsic_code_master' %}",
                data : {'bsic_id':bsic_id,'activity':activity, 'colour_code':colour_code, 'competent_authority':competent_authority, 'service_id':service_id,'has_tor':has_tor, csrfmiddlewaretoken:'{{ csrf_token }}'},
                success : function(data)
                {
                    $('#edit_successMsg').html("Activity Updated Successfully.");
                    $('#edit_successMsg').show();
                    setTimeout(function() {
                        $('#edit_successMsg').delay(3000).fadeOut('slow');
                    }, 2000);
                    setTimeout(function() {
                        window.location.href = '/bsic_master';
                    }, 2000);
                }
            });
        }
    }
</script>
{% endblock %}                 




