{% extends 'index.html' %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <p class="alert alert-success border-0 rounded-0 text-center col-md-4 offset-md-4" role="alert">
            <i class="uil-folder-heart me-1 h5 align-middle"></i>Track Application
        </p>
        <div class="row">
            <div class="card col-md-12">
                <div class="card-body">
                      <div id="cardCollpase1" class="collapse pt-3 show">
                          <div class="row text-center justify-content-center">
                              <div class="form-group col-md-6">
                                  <div class="input-group bootstrap-touchspin bootstrap-touchspin-injected">
                                      <input type="text" class="form-control col-md-6" id="application_no" name="application_no" placeholder="Applicaiton No">
                                      <span class="input-group-btn input-group-append">
                                          <button class="btn btn-primary bootstrap-touchspin-up" type="button"><i class="mdi mdi-account-search"></i></button>
                                      </span>
                                  </div>
                              </div>
                              <div class="alert alert-success" id="successMsg" style="display:none"></div>
                          </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}