{% extends 'index.html' %}
{% block content %}
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card mt-1">
            <div class="card-body">
                <h5 class="card-title mb-0">First Login Password Update</h5>

                <div id="cardCollpase1" class="collapse pt-3 show">
                    <div id="update_passwordMsg" class="alert alert-success" style="display:none">
                        Password successfully updated, you will be automatically redirected to your respective dashboard
                    </div>
                <form method="post" id="passwordUpdateForm">
                 {% csrf_token %}
                    <input type="hidden" name="login_id" class="form-control" value="{{ request.session.login_id }}" id="login_id">
                    <input type="hidden" name="username" class="form-control" value="{{ request.session.email }}" id="username">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">New Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" name="new_password" id="new_password" class="form-control">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                                <span class="font-13 text-muted">Password must contain at least one number,one uppercase, lowercase letter and at least 8 or more characters</span>
                            </div>
                            <div id="new_passwordErrorMsg" class="alert alert-danger" style="display: none;"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Confirm Password</label>
                                <div class="input-group input-group-merge">
                                    <input type="password" name="password" id="password" class="form-control">
                                    <div class="input-group-text" data-password="false">
                                        <span class="password-eye"></span>
                                    </div>
                                </div>
                            </div>
                            <div id="confirm_passwordErrorMsg" class="alert alert-danger" style="display: none;"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Security Question</label>
                                <select id="security_question" name="security_question" class="form-select">
                                    <option value="">--SELECT SECURITY QUESTION--</option>
                                    {% for security in security %}
                                        <option value="{{ security.question_id }}">{{ security.question }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div id="security_questionErrorMsg" class="alert alert-danger" style="display: none;"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label class="form-label fw-bold">Security Answer</label>
                                <input type="text" name="answer" class="form-control" id="answer">
                            </div>
                            <div id="answerErrorMsg" class="alert alert-danger" style="display: none;"></div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-success" onclick="update_login_details()"><i class="mdi mdi-bookmark-check-outline me-1"></i>Update</button>
            </div>
        </div>
    </div>
</div>
<script>
    function update_login_details()
    {
        let new_password = $('#new_password').val();
        let confirm_password = $('#password').val();
        let pattern = /(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}/;
        let no = new_password.match(pattern);
        let security_question = $('#security_question').val();
        let answer = $('#answer').val();

            if(new_password == "")
            {
                $('#new_passwordErrorMsg').html("");
                $('#new_passwordErrorMsg').html("New Password Cannot Be Empty");
                $('#new_passwordErrorMsg').show();
                $('#new_passwordErrorMsg').delay(2000).fadeOut('slow');
                return;
            }
            else if(no==null)
            {
                $('#new_passwordErrorMsg').html("");
                $('#new_passwordErrorMsg').html("Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters");
                $('#new_passwordErrorMsg').show();
                $('#new_passwordErrorMsg').delay(2000).fadeOut('slow');
                return;
            }
            else if(confirm_password == "")
            {
                $('#confirm_passworderrorMsg').html("");
                $('#confirm_passworderrorMsg').html("Confirm Password Cannot Be Empty");
                $('#confirm_passworderrorMsg').show();
                $('#confirm_passworderrorMsg').delay(2000).fadeOut('slow');
                return;
            }
            else if(new_password != confirm_password)
            {
                $('#confirm_passworderrorMsg').html("");
                $('#confirm_passworderrorMsg').html("New password and Password Confirmation Does Not Match");
                $('#confirm_passworderrorMsg').show();
                $('#confirm_passworderrorMsg').delay(2000).fadeOut('slow');
                $('#new_password').val("");
                $('#confirm_password').val("");
                $('#security_question').val("");
                $('#Answer').val("");
                return;
            }
            else if(security_question == "")
            {
                $('#security_questionerrorMsg').html("");
                $('#security_questionerrorMsg').html("Select Atleast One Security Question");
                $('#security_questionerrorMsg').show();
                $('#security_questionerrorMsg').delay(2000).fadeOut('slow');
                return;
            }
            else if(answer == "")
            {
                $('#answererrorMsg').html("");
                $('#answererrorMsg').html("security answer cannot be empty");
                $('#answererrorMsg').show();
                $('#answererrorMsg').delay(2000).fadeOut('slow');
                return;
            }
            else
            {
                $.ajax({
                    type : "POST",
                    url : "{% url 'update_first_login_details' %}",
                    data : $('#passwordUpdateForm').serialize(),
                    cache : false,
                    dataType : "html",
                    success : function(responseText)
                    {
                        $('#update_passwordMsg').show();
                        $('#update_passwordMsg').delay(2000).fadeOut('slow');
                        setTimeout('redirectPage()',2000);
                    }
                });
            }
    }

    function redirectPage()
    {
        var url = "{% url 'login' %}";
        document.forms[0].action = url;
        document.forms[0].submit();
    }
</script>
{% endblock %}